[submodule "CANopenLinux"]
	path = CANopenLinux
	url = https://github.com/CANopenNode/CANopenLinux.git
[submodule "test/libs/bats-core"]
	path = test/libs/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "test/libs/bats-support"]
	path = test/libs/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/libs/bats-assert"]
	path = test/libs/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "CANopenNode.github.io"]
	path = CANopenNode.github.io
	url = https://github.com/CANopenNode/CANopenNode.github.io
[submodule "CANopenPIC"]
	path = CANopenPIC
	url = https://github.com/CANopenNode/CANopenPIC.git
[submodule "CANopenEditor_build"]
	path = CANopenEditor_build
	url = https://github.com/CANopenNode/CANopenEditor
